body{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.header{
    display: grid;
    padding-top: 1%;
    border-bottom: 2px solid black;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 210px 50px;
}
.pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img {
    flex: 0 0 auto;
    padding: 5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* makes it look nice inside the circle */
}
.nome-in-alto{
    justify-self: center;
    font-weight: bold;
}
.colonna-laterale{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
}
.websites{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #4275f5;
}
a:hover {
  text-decoration: underline;
  color: #0d4def;
}
a.websites-button{
      display: inline-flex;        /* makes icon and text line up horizontally */
      align-items: center;         /* vertically centers them */
      gap: 8px;                    /* space between icon and text */
      background-color: #4275f5;   /* button color (you can change it) */
      color: white;                /* text color */
      padding: 10px 20px;          /* space inside button */
      border-radius: 25px;         /* makes the button rounded */
      text-decoration: none;  
      margin: 5px;     
}
a.websites-button:hover{
    background-color: #0d4def;  /* sono 3 toni in più su https://www.colorhexa.com/4275f5 */
}
a.websites-button svg {
    width: 20px;
    height: 20px;         
    color: white;     /* makes the icon white */
}