/* ==============================
   THEME COLOR VARIABLES
   ============================== */
:root {
  --main-color: #4275f5;
  --main-complement:#f5c242;
  --main-plus3: #0d4def;

  --background-color: white;
  --text-color:black;
  --text-complement:white;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5a5a5a;
  --color-base-100: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #f5c242;
    --main-complement: #4275f5;
    --main-plus3:#efaf0d;

    --background-color: #282828;
    --text-color:white;
    --text-complement:black;

    --color-base-00: #363636; /*SFONDO */
    --color-base-05: #212121;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
     --color-base-30: #1e1e1e; /*HEADER */
    --color-base-35: #3f3f3f;
    --color-base-40: #555555;
    --color-base-50: #666666;
    --color-base-60: #999999;
    --color-base-70: #bababa;
    --color-base-100: #dadada;
  }
}

body{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--color-base-00);
    color: var(--text-color);
    margin: 0px;
}
h1{
    font-size: x-large;
}
.header{
    background-color: var(--color-base-30);
    padding: 1%;
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 3fr 3fr;
    grid-template-rows: 50px;
}
.link-header{
    width:60%;
    background-color: var(--color-base-30);
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border: 0.2rem solid var(--color-base-20); 
    border-radius: 25px;
}
.link-header:hover{
    background-color: var(--color-base-20);
}
.nome-in-alto{
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: xx-large;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 210px 50px;
}
.container-of-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 2%;
}
.pic-container{
    flex: 0 0 auto;
    padding: 0.5%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;       
    height: 200px;  
    width: 200px;
    border-radius: 50%;
    background-color: var(--main-color);
    overflow: hidden;
}
.profile-img {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* makes it look nice inside the circle */
    transition: transform 0.3s ease;
    transform-origin: top;
}
.profile-img:hover{
    transform: scale(1.2);
}
.colonna-laterale{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
}
.websites{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: var(--main-color);
}
a:hover {
  text-decoration: underline;
  color: var(--main-plus3);
}
a.websites-button{
      display: inline-flex;        /* makes icon and text line up horizontally */
      align-items: center;         /* vertically centers them */
      gap: 8px;                    /* space between icon and text */
      background-color: var(--main-color);   /* button color (you can change it) */
      color: var(--text-complement);                /* text color */
      padding: 10px 20px;          /* space inside button */
      border-radius: 25px;         /* makes the button rounded */
      text-decoration: none;  
      margin: 5px;     
}
a.websites-button:hover{
    background-color: var(--main-plus3);  /* sono 3 toni in più su https://www.colorhexa.com/4275f5 */
}
a.websites-button svg {
    width: 20px;
    height: 20px;         
    color: var(--text-complement);     /* makes the icon white */
}